@charset "UTF-8";

header{

    background-color: #e5e5e5;
    text-align: right;
}


body{
    background-color: #14213d;
    background-size:cover;
}

h1#principal {

    background-color:  #fca311;
    color: #000;
    text-align: center;
    height: 180px;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


nav{
margin-left: 350px;
color: antiquewhite;
font-size: large;

}


h2{
    background-color: #9daec6;
    width: 355px;
    text-align: center;
    margin-top: 50px;
    margin-left: 550px;
    height: 60px;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



form{
    background-color:#fca311;
    text-align: center;
    color: #000
    
}

footer{
    
    text-align: center;
}


h2#formulario{
    background-color: #e5e5e5;
    height: 100px;
    padding: 15px;
    margin-top: 25px;
    
}

p#redes{
    background-color: #e5e5e5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    width: 40%;
margin-left: 440px;
text-align: center;
}